.mainResultCard {
  background: #fdfdfe;
  margin: 3rem 0;
  height: 50vh;
  border-radius: 20px;
}

/* .mainResultCard p {
  font-size: 12px;
  margin-bottom: 0.75rem;
} */

.cardImg img {
  height: 300px;
  width: 300px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
