.businessCardsLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.businessCard {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transition: 0.5s ease;
  cursor: pointer;

  width: 12rem;
  margin: 0.5rem;
  background: #fdfdfe;
}

.businessCard a {
  color: #212529;
  text-decoration: none;
  padding: 0;
}

.businessCardImage {
  width: 11.9rem;
  height: 11.9rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.businessCard:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.businessCardBody {
  padding: 1rem 0.5rem 0rem 0.5rem;
}

.businessCardBody p {
  font-size: 12px;
  margin-bottom: 0.75rem;
}
