:root {
  --sky-blue: #5BC0DE;    /* Primary Brand Color */
  --blue-green: #00C2CB;  /* Secondary Brand Color */
  --pink: #ffddee;        /* Accent Color */
  --vanilla: #ffffee;     /* Primary Text Color */
  --dark-grey: #343A40;   /* Secondary Text Color or Embellishments */
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
